name: Deploy to GCP VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"

    steps:
      - uses: "actions/checkout@v4"

      - name: Authenticate with GCP
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.WIF_PROVIDER }}
          service_account: ${{ secrets.SA_EMAIL }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          version: ">= 363.0.0"

      - name: Sync latest changes to GCP VM
        run: |
          echo "${{ secrets.SSH_KEY }}" > ssh_key
          chmod 600 ./ssh_key
          sudo rsync -chav -O --no-o --no-g --no-perms --exclude='.git' --exclude='.github' --exclude='gha-creds-*' --exclude='ssh_key' -e 'ssh -i ./ssh_key -o StrictHostKeyChecking=no' $GITHUB_WORKSPACE/ shefeeq@35.192.179.177:/var/www/dsclinx.ca/
